<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <div class="container">
           
            <button class="btn btn-warning mt-5 mb-3" onclick="location.href='/%>'">Back To Main Page</button>
                
            <% for (let i = 0; i < patients.length; i++) { %>
                <a href="/patients/<%=patients[i]._id%>">
                    <div class="card bg-light border-dark mb-3" style="min-width: 200px; max-width: 200px;">
                        

                        <div class="card-body">
                            <p class="card-title"> <%=patients[i].name%> </p>
                        </div>
                        
                    </div>
                </a>
            <% } %>
            </div>
        </div>
    </body>
</html>