<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5">Log All Your Doctor Visits In One Place!</h1>
            <h2>You Won't Need To Scramble For A Pen And Paper Again!</h2>
            <h3>A little backstory...</h3>
            <p>As someone who has worked in healthcare and has to care for elderly parents, I find that keeping a record of any past and current doctor visit notes are very important to me. Losing documentation or having to rewrite everything again is not an efficient use of time, but now you don't have to! You can keep track of any medication changes, doctor orders, or go back and update your records with the ease of a few taps!</p>
            <h4>Thank you for using my little creation!</h4>
            <p>For existing patient: </p><button class="btn mb-3 btn-primary" onclick="location.href='/patients'">Log New Visit</button>
            <p>For new patient: </p><button class="btn mb-3 btn-info" onclick="location.href='/patients/new'">Create New Patient</button>
            <div>
                
            </div>
        </div>
    </body>
</html>