<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Manage all of your doctor visits in one place!</h1>
                <h3>A little backstory...</h3>
                <p>As someone who has worked in healthcare and also has to care for elderly parents, I find that keeping a record of any past and current doctor visit notes are very important. Losing documentation or having to rewrite everything again is not an efficient use of time, and I'm glad this is where my software engineering skills come into use! You can keep track of any medication changes, doctor orders, or go back and update your records with the ease of a few taps!</p>
                <h4>Thank you for letting me make your life a little more convenient!</h4>
                <p>For existing patient: </p><button class="btn mb-3 btn-primary btn-lg" onclick="location.href='/patients'">Log New Visit</button>
                <p>For new patient: </p><button class="btn mb-3 btn-info btn-lg" onclick="location.href='/patients/new'">Create New Patient</button>
            </div>
            
        </div>
    </body>
</html>