<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <div class="container landing">
                <h1 class="mt-5">Manage all of your and your loved ones' doctor visits in one place!</h1>
                <p>Do you ever struggle to remember what your doctor told you the last time you had a doctor appointment? What medications you take?</p>
                <p>Does your mom or your dad not speak english and you have to accompany them to their doctor visits?</p>
                <p>Do you need a place to keep track of your child's doctor visits?</p>
                <p>Well then this is the app for you!</p>
                
                <p class="mb-3">Thank you for letting me make your life a little more convenient!</p>
                <p class="lead">For existing patient: </p><button class="btn mb-3 btn-primary btn-lg" onclick="location.href='/patients'">Log New Visit</button>
                <p class="lead">For new patient: </p><button class="btn mb-3 btn-info btn-lg" onclick="location.href='/patients/new'">Create New Patient</button>
            
        </div>
    </body>
</html>