<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs')%>
<title>New Patient Form</title>
</head>
<body>

    <div class="container">
            <h1 class="mt-5 mb-4">New Patient Information</h1>
            <button class="btn btn-dark btn-lg mb-3 hvr-float-shadow" onclick="location.href='/patients'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                </svg>
                Back To Patient List
            </button>
    
            <br/>
            <form action="/patients" method="POST">
                <input class="form mb-2" type="text" name="name" placeholder="Patient Name" /><br/>
                <input class="form mb-2" type="date" name="birthday" min="1900-01-01" max="<%= new Date().toLocaleDateString('en-CA') %>" autocomplete="off" placeholder="Date of Birth"/><br/>

                <fieldset id="gender">
                    <input class="form mb-2 mr-2" type="radio" value="male" name="gender"/>Male<br/>
                    <input class="form mb-2 mr-2" type="radio" value="female" name="gender"/>Female<br/>
                    <input class="form mb-2 mr-2" type="radio" value="other" name="gender"/>Other<br/>
                </fieldset>
                    
                <input class="form mb-2" type="number" name="height" placeholder="Height in inches"/><br/>    
                <input class="form mb-2" type="number" name="weight" placeholder="Weight in lbs"/><br/>
                <input class="form mb-2" type="text" name="medicalConditions" placeholder="Medical conditions" /><br/>
                <input class="form mb-2" type="text" name="drugAllergies" placeholder="Drug allergies"/><br/>

                <!-- <input class="form mb-2" type="date" name="dateOfService" placeholder="Date of Service"/><br/>
                <input class="form mb-2" type="text" name="rxList" placeholder="Medications"/><br/>
                <textarea class="form mb-2" type="text" name="drsOrders" placeholder="Doctor's orders"></textarea><br/> -->
                <!-- <input class="submit btn btn-success btn-lg mt-1 hvr-float-shadow" type="submit" value="Submit"/>  -->
                <button class="submit btn btn-success btn-lg mt-2 hvr-float-shadow" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                    </svg>
                    Submit
                </button>
                
        </form>  
    </div>
</body>
</html>