<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs')%>
<title>New Patient Form</title>
</head>
<body>

    <div class="container">
            <h1 class="mt-5 mb-4">New Patient Information</h1>
            <button class="btn btn-dark btn-lg mb-3 hvr-float-shadow" onclick="location.href='/patients'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                </svg>
                Back To Patient List
            </button>
    
            <br/>
            <form class="new-pt-form" action="/patients" method="POST">
                <label class="new-pt-info" for="name">
                    <strong>Name:</strong>
                    <input class="form new-pt-input" type="text" name="name" placeholder="Patient Name" />
                </label>
                <label class="new-pt-info" for="birthday">
                    <strong>Date of Birth:</strong>
                    <input class="form new-pt-input" type="date" name="birthday" min="1900-01-01" max="<%= new Date().toLocaleDateString('en-CA') %>" autocomplete="off" placeholder="Date of Birth"/>
                </label>
                <label class="new-pt-info mb-0" for="gender">
                    <strong>Select Gender:</strong>
                    <fieldset id="gender">
                        <label>
                            <input class="form new-pt-input" type="radio" value="male" name="gender"/>
                            Male
                        </label>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#6B93A2" class="bi bi-gender-male" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
                        </svg>
                        <br/>
                        <label>
                            <input class="form new-pt-input" type="radio" value="female" name="gender"/>
                            Female
                        </label>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F4ACB7" class="bi bi-gender-female" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"/>
                        </svg>
                        <br/>
                        <label>
                            <input class="form new-pt-input" type="radio" value="other" name="gender"/>
                            Other
                        </label>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F5CB5C" class="bi bi-gender-ambiguous" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 1a.5.5 0 0 1 0-1h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-3.45 3.45A4 4 0 0 1 8.5 10.97V13H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V14H6a.5.5 0 0 1 0-1h1.5v-2.03a4 4 0 1 1 3.471-6.648L14.293 1H11.5zm-.997 4.346a3 3 0 1 0-5.006 3.309 3 3 0 0 0 5.006-3.31z"/>
                        </svg>
                    </fieldset>
                </label>
                
                <label class="new-pt-info"  for="height">
                    <strong>Height:</strong>
                    <input class="form new-pt-input" type="number" name="height" placeholder="Height in inches"/>
                </label>
                    
                <label class="new-pt-info" for="weight">
                    <strong>Weight:</strong>
                    <input class="form new-pt-input" type="number" name="weight" placeholder="Weight in lbs"/>
                </label>
                
                <label class="new-pt-info" for="medicalConditions">
                    <strong>Medical Conditions:</strong>
                    <input class="form new-pt-input" type="text" name="medicalConditions" placeholder="Medical conditions" />
                </label>
                
                <label class="new-pt-info" for="drugAllergies">
                    <strong>Drug Allergies:</strong>
                    <input class="form mb-2 new-pt-input" type="text" name="drugAllergies" placeholder="Drug allergies"/>
                </label>
                

                <!-- <input class="form mb-2" type="date" name="dateOfService" placeholder="Date of Service"/><br/>
                <input class="form mb-2" type="text" name="rxList" placeholder="Medications"/><br/>
                <textarea class="form mb-2" type="text" name="drsOrders" placeholder="Doctor's orders"></textarea><br/> -->
                <!-- <input class="submit btn btn-success btn-lg mt-1 hvr-float-shadow" type="submit" value="Submit"/>  -->
                <button class="submit btn btn-success btn-lg mt-2 hvr-float-shadow" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                    </svg>
                    Submit
                </button>
                
        </form>  
    </div>
</body>
</html>