<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs')%>
<title>New Patient Form</title>
</head>
<body>

    <div class="container">
            <h1 class="mt-5">New Patient Information</h1>
            <button class="btn btn-dark mb-3" onclick="location.href='/patients'">Back To Patient List</button>
    
            <br/>
            <form action="/patients" method="POST">
                <input class="form mb-2" type="text" name="name" placeholder="Patient Name" /><br/>
                <input class="form mb-2" type="date" name="birthday" placeholder="Date of Birth"/><br/>

                <fieldset id="gender">
                    <input class="form mb-2" type="radio" value="male" name="gender"/>Male<br/>
                    <input type="radio" value="female" name="gender"/>Female<br/>
                </fieldset>
                    
                <input class="form mb-2" type="number" name="height" placeholder="Height in inches"/><br/>    
                <input class="form mb-2" type="number" name="weight" placeholder="Weight in lbs"/><br/>
                <input class="form mb-2" type="text" name="medicalConditions" placeholder="Medical conditions" /><br/>
                <input class="form mb-2" type="text" name="drugAllergies" placeholder="Drug allergies"/><br/>

                <!-- <input class="form mb-2" type="date" name="dateOfService" placeholder="Date of Service"/><br/>
                <input class="form mb-2" type="text" name="rxList" placeholder="Medications"/><br/>
                <textarea class="form mb-2" type="text" name="drsOrders" placeholder="Doctor's orders"></textarea><br/> -->
                <input class="submit btn btn-success mt-1" type="submit" value="Submit"/> 
                
        </form>  
    </div>
</body>
</html>