* {
    font-family: 'Mandali', sans-serif;
   
}

.h2 {
    font-weight: bold;
    color: #457B9D
}

.card {
    border: 2px solid #EDEDE9;
    border-radius: 10px
}

.card-title {
    font-size: 20px;
}
