* {
    font-family: 'Inconsolata', monospace; 
    
}

.show-list-labels {
    color: #6B93A2;
}

.landing h1 {
    text-align: center;
}

.my-h2 {
    font-weight: bold;
    color: #457B9D;
}

@media screen and (max-width: 567px) {
    .my-h2 {
        font-size: 2rem;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.card {
    border: 2px solid #ADB5BD;
    border-radius: 10px
}

.card-body {
    border: #ADB5BD;
}

.card-title {
    font-size: 20px;
}

.landing {
    background-image: url('https://img.freepik.com/premium-vector/notepad-pencil-white-background-notebook-icon-with-pencil-doctor_422344-40.jpg');
    background-size: 240px;
    background-repeat: no-repeat;
    background-position: bottom 10px right;
}

.index-img {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* .index {
 
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://as1.ftcdn.net/v2/jpg/02/66/24/38/1000_F_266243842_A8Qh9XCCgj5O80HdMqVTxI5NoWDStuuu.jpg");

} */

/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }

  /* .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active { */
    .hvr-float-shadow {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  /* .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before { */
    .hvr-float-shadow:before {
    opacity: .7;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }