* {
    font-family: 'Inconsolata', monospace; 
}

.h2 {
    font-weight: bold;
    color: #457B9D
}

.card {
    border: 2px solid #ADB5BD;
    border-radius: 10px
}

.card-title {
    font-size: 20px;
}

.landing {
    background-image: url('https://img.freepik.com/premium-vector/notepad-pencil-white-background-notebook-icon-with-pencil-doctor_422344-40.jpg');
    background-size: 240px;
    background-repeat: no-repeat;
    background-position: bottom 10px right;
}